.feed {
  flex: .6;
  margin: 0 10px;
  height: fit-content;

  .posts {
    .post {
      margin: 15px 0;
    }
  }
}

.feed-input-container {
  padding: 10px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  display: flex;

  .post-input-field {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 0.1px solid lightgray;
    border-radius: 30px;
    width: 100%;
  }

  form {
    display: flex;
    width: 100%;

    input {
      border: none;
      flex: 1;
      margin-left: 10px;
      outline-width: 0;
      font-weight: 600;
    }

    button {
      display: none;
    }
  }
}

.post-type-options {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.feed-input-container-avatar {
  margin-right: 10px;
}

.feed-input-container {
  input {
    width: 100%;
    border-radius: 28px;
    border: 0.1px solid gray;
    font-weight: 600;
  }
}